[build]
command = "npx @11ty/eleventy"
publish = "_site"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[[redirects]]
from = "/success"
to = "/assets/pdf/5-claves-lenguaje-canino.pdf"
status = 200